// .row
//   .col-sm-6.col-md-4.col-md-offset-4
//     - @artist.each do |artist|
//       .thumbnail
        
//         = image_tag artist.avatar_url
//         .caption
//           = link_to artist.name , new_artist_qwato_path(artist)

//           %br





.row
  .col-sm-6.col-md-4.col-md-offset-4
    - @client.tagged('hiphop quotes',:type => 'photo').each do |qwato|
      .thumbnail
        =  qwato
        %br/
       
          