<div class="row">
	<div class="col-sm-6 col-md-4 col-md-offset-4">
	<% @likes.each do |like| %>
		<div id= " " class="thumbnail ">
			<p><%= like.qwato_id %>
			</p>
			
		</div>
		<br/>
		<% end %>

	</div>
</div>



	
